<div class='pure-menu pure-menu-horizontal'>
  {{link-to 'Gallagher' 'index' class='pure-menu-heading pure-menu-link'}}
  <ul class='pure-menu-list'>
    <li class="pure-menu-item">{{link-to 'Photos' 'photos' class='pure-menu-link'}}</li>
    <li class="pure-menu-item"><a href='#' class='pure-menu-link'>New Photo</a></li>
  </ul>
</div>
