<h1>Photos Index</h1>

<div class='ui images'>
  {{#each model as |photo|}}
    {{#link-to 'photos.show' photo class='ui medium image'}}
      <img src="http://lorempixel.com/355/200/sports/" alt="{{photo.title}}">
    {{/link-to}}
  {{/each}}
</div>
